PORT=4000
RAILWAY_API_URL=https://aulaabertafixed-production.up.railway.app
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account"}
DRIVE_FOLDER_ID=
RTSP_BOLSO=rtsp://usuario:senha@192.168.1.5/stream
RTSP_MIRANTE=rtsp://usuario:senha@192.168.1.6/stream
RTSP_SUBWAY=rtsp://usuario:senha@192.168.1.7/stream
