PORT=4000
RAILWAY_API_URL=https://aulaabertafixed-production.up.railway.app

GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"SEU_PROJECT_ID","private_key_id":"SEU_PRIVATE_KEY_ID","private_key":"-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_AQUI\n-----END PRIVATE KEY-----\n","client_email":"SEU_CLIENT_EMAIL","client_id":"SEU_CLIENT_ID","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"SUA_URL_CERT","universe_domain":"googleapis.com"}

GCS_BUCKET_NAME=nome-do-seu-bucket

RTSP_SUBWAY=rtsp://usuario:senha@192.168.1.5:554/cam/realmonitor?channel=7&subtype=0
RTSP_BOLSO=rtsp://usuario:senha@192.168.1.5:554/cam/realmonitor?channel=11&subtype=0
RTSP_MIRANTE=rtsp://usuario:senha@192.168.1.5:554/cam/realmonitor?channel=4&subtype=1
